<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <button title="Rafraîchir">
        <i class="fa-solid fa-rotate-right"></i>
      </button>
      <a href="/stock/add" class="button" title="Ajouter">
        <i class="fa-solid fa-plus"></i>
      </a>
      <button title="Supprimer">
        <i class="fa-solid fa-trash-can"></i>
      </button>
    </nav>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr
          ng-repeat="a in articles track by a.id"
          ng-click="select(a)"
          ng-class="{selected: selectedArticles.has(a)}"
        >
          <td class="name">{{ a.name }}</td>
          <td class="price">{{ a.price }} €</td>
          <td class="qty">{{ a.qty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
