@use "./scss/layout.scss";
@use "./scss/button.scss";
@use "./scss/table.scss";
@use "./scss/form.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

div[ng-view] {
  flex: 1;
  display: flex;
  flex-flow: column;
}

main {
  padding: 0.5em;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5em;

  width: 100%;
  max-width: 100ch;
  margin: 0 auto;

  &.home {
    flex: 1;
    justify-content: center;
  }

  h1 {
    text-align: center;
  }

  p {
    align-self: stretch;
  }
}

div.content {
  display: flex;
  flex-flow: column;
  gap: 1em;
  nav {
    display: flex;
    gap: 0.3em;
  }
}
